html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: fit-content;
    background-color: #3c4057;
    display: block;
}

h1 {
    font-size: 3em;
    margin-top: 0.2em;
}

div, h1, h2, h3, label, p, span, button, a, textarea {
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.team {
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
}

.small-column, .big-column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.add-set-button, .remove-set-button {
    aspect-ratio: 1;
    border-radius: 100%;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    box-sizing: border-box;
    height: 5vh;
    margin: 0.5vh;
}

.add-set-button {
    background-color: #27a527;
    font-size: xx-large;
    order: 100;
}

.remove-set-button {
    background-color: #a52727;
    font-size: x-large;
}

.small-column {
    width: 10%;
}

.big-column {
    width: 25%;
}

.set-header {
    font-size: xx-large;
    font-weight: bold;
}

.set-number {
    font-size: xx-large;
}

.points {
    font-size: x-large;
    text-align: center;
    font-weight: 500;
    width: 100%;
}

.row-height {
    height: 6vh;
    line-height: 6vh;
}

.generate-log {
    width: 30%;
    height: 8vh;
    border-radius: 8vh;
    font-size: 2em;
    background-color: #2ed42e;
    color: #222;
    display: block;
    margin: 1.5vh auto;
    font-weight: bold;
}

.input-blocker {
    background-color: #000000;
    opacity: 0%;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.preview-container {
    background-color: #252930;
    position: fixed;
    transition: 0.5s ease;
    width: 80vw;
    height: 80vh;
    top: 100vh;
    left: 10vw;
}

.preview-container > h1 {
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    background-color: #222;
    margin: 0;
    padding: 2vh 0;
}

.preview-container > button {
    position: absolute;
    top: 1.5vh;
    right: 1.5vh;
    font-size: x-large;
    font-weight: bold;
    border-radius: 100vw;
    aspect-ratio: 1;
    background-color: #a52727;
    height: 6vh;
    pad: 0;
}

.preview-container > textarea {
    height: 71vh;
    width: 100%;
    background-color: transparent;
    font-size: xx-large;
    padding: 0;
    margin: 0;
    resize: none;
}

label, input[type="date"] {
    height: 4vh;
    margin: 1vh 0;
    font-size: x-large;
}

label {
    font-weight: bold;
}

a {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: block;
    color: rgb(116, 148, 255);
    font-size: large;
}